*{ 
    margin: 0;
    padding: 0px;
    /* box-sizing: border-box;
    border:solid 0px white; */
    text-align: center;
    font-size: 24px;
  
}
.header {
    background-color: burlywood;
     height: 150px;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;

    
   
}
.main {
    
    background-color: blueviolet;
      height:calc(100vh - 300px - 20px);
      margin: 10px 0 10px 0;


}
.footer {
    background-color: burlywood;
    height: 150px;
     
   
  
}