*{ 
    margin: 0;
    padding: 10px;
    /* box-sizing: border-box;
    border:solid 0px white; */
    text-align: center;
    font-size: 24px;
  
}
.header {
    background-color: burlywood;
     height: 15vh;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;

    
   
}
.main {
    
    background-color: blueviolet;
      height:calc(100vh - 50vh);


}
.folder {
    background-color: burlywood;
    height: 15vh;
     
   
  
}