
.external {
    background-color: black;
    height: 400px;
    width: 1000px;
}

button {
    background-color: blue;
    height: 200px;
    width: 800px;
    margin: 100px;
    border-radius: 15px;


}